<!-- Navbar affichée seulement si on n'est pas sur une route admin -->
<mat-toolbar class="navbar" *ngIf="!isAdminRoute()">
  <div class="navbar-left">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <span class="site-name">E-Commerce</span>
  </div>

  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Rechercher un produit...</mat-label>
      <input matInput type="text">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="navbar-right">
    <button mat-icon-button (click)="openAccountDialog()">
      <img src="assets/moncompte.png" alt="Mon Compte" width="24" height="24">
      <span>Mon Compte</span>
    </button>
    <button mat-icon-button routerLink="/favorites">
      <img src="assets/favoris.png" alt="Favoris" width="24" height="24">
      <span>Favoris</span>
    </button>
    <button mat-icon-button routerLink="/cart">
      <img src="assets/panier.png" alt="Panier" width="24" height="24">
      <span>Panier</span>
    </button>
  </div>
</mat-toolbar>

<!-- Zone d'affichage des routes -->
<router-outlet></router-outlet>
