.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #ffffff;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.site-name {
  font-size: 20px;
  font-weight: bold;
  color: #333533;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

mat-form-field {
  width: 50%;
}

/* Fusion des règles pour .navbar-right */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 50px; /* Espace entre les boutons */
  padding-bottom: 20px;
}

.navbar-right button {
  display: flex;
  flex-direction: column; /* Icone et texte en colonne */
  align-items: center;
  text-transform: none; /* Pas de transformation en majuscules */
  gap: 2px; /* Espace entre l'icône et le texte */
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-right img {
  width: 28px;
  height: 28px;
}

.navbar-right span {
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  color: #333533;
}
