/* Conteneur principal du composant AuthComponent */

.auth-login-container {
  width: 300px;           /* Réduit la largeur */
  padding: 50px;         /* Réduit les marges internes */
  text-align: center;
  border-radius: 2px;   
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.3s ease-out, visibility 0s 0s; /* Transition douce */
}

/* Style pour le masque de l'élément lorsqu'on est connecté */
.auth-login-container.hidden {
  opacity: 0;             /* Rendre transparent */
  visibility: hidden;     /* Rendre invisible */
  height: 0;              /* Réduire la hauteur */
  padding: 0;             /* Réduire le padding */
  margin: 0;              /* Réduire la marge */
}

/* Styles pour l'onglet actif et hover */
.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  margin-bottom: 15px;
}

.tabs button {
  flex: 1;
  background: none;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabs button.active {
  font-weight: bold;
  border-bottom: 3px solid #007bff;
  color: #007bff;
}

.tabs button:hover {
  background-color: #f1f1f1;
}

.content {
  padding: 16px;
  margin-top: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-form-field {
  margin-bottom: 16px;
  width: 100%;
}

button {
  width: 100%;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
